In [95]:
import pandas as pd
from sklearn.cluster import DBSCAN
import math

In [96]:
df_file_standardized = pd.read_csv('data/dc_file_preprocessed_standardized.csv')
df_file = pd.read_csv('data/dc_file_preprocessed.csv')

In [97]:
eps = 0.5
min_samples = 5

In [98]:
dbscan = DBSCAN(eps=eps, min_samples=min_samples, algorithm='ball_tree')
dbscan.fit(df_file_standardized)

labels = dbscan.labels_

In [99]:
clusters = pd.Series(labels).value_counts()
clusters = pd.DataFrame(clusters, columns=['count'])
clusters['cluster'] = clusters.index
clusters = clusters[['cluster', 'count']]
clusters['size'] = clusters['count'] / clusters['count'].sum()
clusters

     cluster  count    size
 1         1   3900  0.3900
 42       42   3869  0.3869
-1        -1    436  0.0436
 31       31    367  0.0367
 49       49    214  0.0214
..       ...    ...     ...
 61       61      5  0.0005
 60       60      5  0.0005
 26       26      5  0.0005
 66       66      5  0.0005
 12       12      5  0.0005

[73 rows x 3 columns]

In [100]:
df_raw = pd.read_csv('data/dc_file_modified2.csv').tail(10000)

df_clustered = df_raw.copy()
df_clustered['cluster'] = labels

/tmp/ipykernel_7911/3433156232.py:1: DtypeWarning: Columns (40) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw = pd.read_csv('data/dc_file_modified2.csv').tail(10000)

In [101]:
# convert timestamp to datetime
df_clustered['timestamp'] = df_clustered['timestamp'].astype('datetime64[ns]')